body{
	background-color: #f1f1f1;
	margin: 0;
	padding:0;
	font-family: "Arial", sans-serif;
	color: #666;
	line-height: 1.6em;
}


header{
	min-height: 55px;
	background: #333;
	color: #fff;
	padding: 15px;
	margin-bottom: 10px;
}

header h1 {
	margin: 0;
	margin-top: 10px;
	text-align: center;
}

header a{
	color:#fff;
}


.container{
	width: 80%;
	margin: auto;
	overflow: auto;

}


.gallery{
	width: 100%;
	padding: 0;
	display: block;
	margin: 0;
	list-style: none;
}


.gallery .gallery-items{
	display: block;
	float: left;
	max-width: 23%;
	cursor: pointer;
	box-sizing:border-box;
	position: relative;
	margin: 2px 12px 7px 0;
}


.gallery .gallery-items img{
	width: 100%;
	border-radius: 2px;

}





.overlay{
	position: absolute;
	background-color: #333;
	color: #f1f1f1;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events:none;
}

.overlay h3{
	text-align: center;
}

.overlay p{
	text-align: center;
}

footer{
	text-align: center;
}








